.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;

  font-family: inherit;
  color: inherit;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  display: flex;
  gap: 10px;
  justify-content: center;

  min-width: 150px;
  min-height: 36px;
  padding: 6px 28px;

  background-color: var(--color-accent-500);
  border-radius: 4px;

  &:active {
    background-color: var(--color-accent-700);
    box-shadow: 0 4px 18px 0 #8c61ff59;
  }

  &:hover {
    background-color: var(--color-accent-300);
    box-shadow: 0 4px 18px 0 #8c61ff59;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }

  &:focus {
    background-color: var(--color-accent-500);
    outline: 2px solid var(--color-info-700);
    box-shadow: 0 4px 18px 0 #8c61ff59;
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
    box-shadow: 0 4px 18px 0 #8c61ff59;
  }
}

.secondary {
  display: flex;
  gap: 10px;

  min-width: 169px;
  min-height: 36px;
  padding: 6px 28px;

  background-color: var(--color-dark-300);
  border-radius: 4px;
}

.fullWidth {
  width: 100%;
}
