.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;

  font-family: inherit;
  color: inherit;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  display: flex;
  gap: 10px;
  justify-content: center;

  min-width: 150px;
  min-height: 36px;
  padding: 6px 28px;

  background-color: var(--color-accent-500);
  border-radius: 4px;
}

.secondary {
  display: flex;
  gap: 10px;

  min-width: 169px;
  min-height: 36px;
  padding: 6px 28px;

  background-color: var(--color-dark-300);
  border-radius: 4px;
}

.fullWidth {
  width: 100%;
}
