.button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  display: flex;
  padding: 6px 28px;
  min-width: 150px;
  min-height: 36px;
  gap: 10px;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--color-accent-500);
}

.secondary {
  display: flex;
  padding: 6px 28px;
  min-width: 169px;
  min-height: 36px;
  gap: 10px;
  border-radius: 4px;
  background-color: var(--color-dark-300);
}

.fullWidth {

  width: 100%;
}
